.Heading:hover .HeadingAnchor {
  display: initial;
}

.HeadingAnchor {
  bottom: .25rem;
  display: none;
  left: -1.5rem;
  width: 1.5rem;
}

h3 .HeadingAnchor {
  bottom: 0
}

h4 .HeadingAnchor {
  bottom: -.25rem;
}